In [2]:
import pandas as pd
import numpy as np

## Extracting features of 2023 movies from Wikipedia

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [5]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [6]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.
0,1.0,Barbie,Warner Bros.,"$635,680,031",NaN,NaN,NaN,NaN,NaN
1,2.0,The Super Mario Bros. Movie,Universal,"$574,934,330",NaN,NaN,NaN,NaN,NaN
2,3.0,Spider-Man: Across the Spider-Verse,Sony,"$381,311,319",NaN,NaN,NaN,NaN,NaN
3,4.0,Guardians of the Galaxy Vol. 3,Disney,"$358,995,815",NaN,NaN,NaN,NaN,NaN
4,5.0,Oppenheimer,Universal,"$324,042,625",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
236,NaN,Fair Play,NaN,NaN,SEPTEMBER,29.0,Netflix / MRC / T-Street Productions,Chloe Domont (director/screenplay); Phoebe Dyn...,[215]
237,NaN,Heist 88,NaN,NaN,SEPTEMBER,29.0,Showtime / Paramount+,Menhaj Huda (director); Dwayne Johnson-Cochran...,[216]
238,NaN,The Re-Education of Molly Singer,NaN,NaN,SEPTEMBER,29.0,Lionsgate,"Andy Palmer (director); Todd Friedman, Kevin H...",[217]
239,NaN,Deliver Us,NaN,NaN,SEPTEMBER,29.0,Magnet Releasing,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",[218]
240,NaN,NaN,NaN,NaN,SEPTEMBER,NaN,NaN,NaN,NaN

In [7]:
%pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.9.0-py3-none-any.whl (25 kB)
Requirement already satisfied: requests in c:\users\likhith\anaconda3\lib\site-packages (from tmdbv3api) (2.28.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\likhith\anaconda3\lib\site-packages (from requests->tmdbv3api) (2020.6.20)
Requirement already satisfied: idna<4,>=2.5 in c:\users\likhith\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\likhith\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\likhith\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.14)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.9.0

[notice] A new release of pip is available: 23.0.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '986edbcd3c49c744037b17ade99970a6'

In [68]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    
    if not result:
        return np.NaN
    
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
    data_json = response.json()
    
    if data_json['genres']:
        genre_str = " " 
        for i in range(0, len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        return np.NaN

In [13]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [14]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.,genres
0,1.0,Barbie,Warner Bros.,"$635,680,031",NaN,NaN,NaN,NaN,NaN,Comedy Adventure Fantasy
1,2.0,The Super Mario Bros. Movie,Universal,"$574,934,330",NaN,NaN,NaN,NaN,NaN,Animation Family Adventure Fantasy Comedy
2,3.0,Spider-Man: Across the Spider-Verse,Sony,"$381,311,319",NaN,NaN,NaN,NaN,NaN,Animation Action Adventure
3,4.0,Guardians of the Galaxy Vol. 3,Disney,"$358,995,815",NaN,NaN,NaN,NaN,NaN,Science Fiction Adventure Action
4,5.0,Oppenheimer,Universal,"$324,042,625",NaN,NaN,NaN,NaN,NaN,Drama History
...,...,...,...,...,...,...,...,...,...,...
236,NaN,Fair Play,NaN,NaN,SEPTEMBER,29.0,Netflix / MRC / T-Street Productions,Chloe Domont (director/screenplay); Phoebe Dyn...,[215],Drama Thriller
237,NaN,Heist 88,NaN,NaN,SEPTEMBER,29.0,Showtime / Paramount+,Menhaj Huda (director); Dwayne Johnson-Cochran...,[216],Crime Drama
238,NaN,The Re-Education of Molly Singer,NaN,NaN,SEPTEMBER,29.0,Lionsgate,"Andy Palmer (director); Todd Friedman, Kevin H...",[217],Comedy
239,NaN,Deliver Us,NaN,NaN,SEPTEMBER,29.0,Magnet Releasing,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",[218],Horror
240,NaN,NaN,NaN,NaN,SEPTEMBER,NaN,NaN,NaN,NaN,Drama Crime

In [17]:
df_2023 = df[['Title','Cast and crew','genres']]

In [18]:
df_2023

,Title,Cast and crew,genres
0,Barbie,NaN,Comedy Adventure Fantasy
1,The Super Mario Bros. Movie,NaN,Animation Family Adventure Fantasy Comedy
2,Spider-Man: Across the Spider-Verse,NaN,Animation Action Adventure
3,Guardians of the Galaxy Vol. 3,NaN,Science Fiction Adventure Action
4,Oppenheimer,NaN,Drama History
...,...,...,...
236,Fair Play,Chloe Domont (director/screenplay); Phoebe Dyn...,Drama Thriller
237,Heist 88,Menhaj Huda (director); Dwayne Johnson-Cochran...,Crime Drama
238,The Re-Education of Molly Singer,"Andy Palmer (director); Todd Friedman, Kevin H...",Comedy
239,Deliver Us,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",Horror
240,NaN,NaN,Drama Crime

In [28]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [29]:


# Assuming you have NaN values represented as np.nan
df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(x) if isinstance(x, str) else np.nan)

<ipython-input-29-49b9887a7cb3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(x) if isinstance(x, str) else np.nan)

In [30]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [32]:
df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(x) if isinstance(x,str) else np.nan)

<ipython-input-32-e434959fa0bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(x) if isinstance(x,str) else np.nan)

In [33]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [34]:
df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(x) if isinstance(x,str)else np.nan)

<ipython-input-34-258154a6c814>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(x) if isinstance(x,str)else np.nan)

In [36]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [37]:
df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(x)if isinstance(x,str)else np.nan)

<ipython-input-37-ddac2c155461>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(x)if isinstance(x,str)else np.nan)

In [38]:
df_2023

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Barbie,NaN,Comedy Adventure Fantasy,NaN,NaN,NaN,NaN
1,The Super Mario Bros. Movie,NaN,Animation Family Adventure Fantasy Comedy,NaN,NaN,NaN,NaN
2,Spider-Man: Across the Spider-Verse,NaN,Animation Action Adventure,NaN,NaN,NaN,NaN
3,Guardians of the Galaxy Vol. 3,NaN,Science Fiction Adventure Action,NaN,NaN,NaN,NaN
4,Oppenheimer,NaN,Drama History,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
236,Fair Play,Chloe Domont (director/screenplay); Phoebe Dyn...,Drama Thriller,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan
237,Heist 88,Menhaj Huda (director); Dwayne Johnson-Cochran...,Crime Drama,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David
238,The Re-Education of Molly Singer,"Andy Palmer (director); Todd Friedman, Kevin H...",Comedy,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos
239,Deliver Us,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",Horror,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig
240,NaN,NaN,Drama Crime,NaN,NaN,NaN,NaN

In [39]:

df_2023 = df_2023.rename(columns={'Title':'movie_title'})

In [45]:
new_df23 = df_2023.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [46]:
new_df23

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,NaN,NaN,NaN,NaN,Comedy Adventure Fantasy,Barbie
1,NaN,NaN,NaN,NaN,Animation Family Adventure Fantasy Comedy,The Super Mario Bros. Movie
2,NaN,NaN,NaN,NaN,Animation Action Adventure,Spider-Man: Across the Spider-Verse
3,NaN,NaN,NaN,NaN,Science Fiction Adventure Action,Guardians of the Galaxy Vol. 3
4,NaN,NaN,NaN,NaN,Drama History,Oppenheimer
...,...,...,...,...,...,...
236,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan,Drama Thriller,Fair Play
237,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David,Crime Drama,Heist 88
238,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos,Comedy,The Re-Education of Molly Singer
239,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig,Horror,Deliver Us
240,NaN,NaN,NaN,NaN,Drama Crime,NaN

In [47]:
new_df23['actor_2_name'] = new_df23['actor_2_name'].replace(np.nan, 'unknown')
new_df23['actor_3_name'] = new_df23['actor_3_name'].replace(np.nan, 'unknown')

In [48]:
new_df23['movie_title'] = new_df23['movie_title'].str.lower()

In [49]:
new_df23['comb'] = new_df23['actor_1_name'] + ' ' + new_df23['actor_2_name'] + ' '+ new_df23['actor_3_name'] + ' '+ new_df23['director_name'] +' ' + new_df23['genres']

In [50]:
new_df23

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,NaN,NaN,unknown,unknown,Comedy Adventure Fantasy,barbie,NaN
1,NaN,NaN,unknown,unknown,Animation Family Adventure Fantasy Comedy,the super mario bros. movie,NaN
2,NaN,NaN,unknown,unknown,Animation Action Adventure,spider-man: across the spider-verse,NaN
3,NaN,NaN,unknown,unknown,Science Fiction Adventure Action,guardians of the galaxy vol. 3,NaN
4,NaN,NaN,unknown,unknown,Drama History,oppenheimer,NaN
...,...,...,...,...,...,...,...
236,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan,Drama Thriller,fair play,Phoebe Dynevor Alden Ehrenreich Eddie Marsan C...
237,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David,Crime Drama,heist 88,Courtney B. Vance Keesha Sharp Keith David Men...
238,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos,Comedy,the re-education of molly singer,Britt Robertson Ty Simpkins Nico Santos Andy P...
239,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig,Horror,deliver us,Lee Roy Kunz Maria Vera Ratti Alexander Siddig...
240,NaN,NaN,unknown,unknown,Drama Crime,NaN,NaN

## Extracting features of 2022 movies from Wikipedia

In [51]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"
df1 = pd.read_html(link, header=0)[3]
df2 = pd.read_html(link, header=0)[4]
df3 = pd.read_html(link, header=0)[5]
df4 = pd.read_html(link, header=0)[6]

In [71]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [72]:
df

,I'll Find You (film),"Music, War and Love / FR Productions / Bovenkon",Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,NaN,NaN,APRIL,1.0,Morbius,Columbia Pictures / Marvel Entertainment,"Daniel Espinosa (director); Matt Sazama, Burk ...",[65]
1,NaN,NaN,APRIL,1.0,The Bubble,Netflix / Apatow Productions,Judd Apatow (director/screenplay); Pam Brady (...,[66]
2,NaN,NaN,APRIL,1.0,The Contractor,Paramount Pictures / STXfilms / Thunder Road F...,Tarik Saleh (director); J. P. Davis (screenpla...,[67]
3,NaN,NaN,APRIL,1.0,Better Nate Than Ever,Disney+ / Walt Disney Pictures,"Tim Federle (director/screenplay); Rueby Wood,...",[68]
4,NaN,NaN,APRIL,1.0,Apollo 10 1⁄2: A Space Age Childhood,Netflix / Netflix Animation,Richard Linklater (director/screenplay); Glen ...,[69]
...,...,...,...,...,...,...,...,...
163,NaN,NaN,SEPTEMBER,30.0,Luckiest Girl Alive,Netflix / Made Up Stories,Mike Barker (director); Jessica Knoll (screenp...,[183]
164,NaN,NaN,SEPTEMBER,30.0,God's Creatures,A24 / BBC Film / Screen Ireland,"Saela Davis, Anna Rose Holmer (directors); Sha...",[201]
165,NaN,NaN,SEPTEMBER,30.0,Dead for a Dollar,Quiver Distribution / Myriad Pictures,Walter Hill (director/screenplay); Christoph W...,[202]
166,NaN,NaN,SEPTEMBER,30.0,My Best Friend's Exorcism,Amazon Studios / Endeavor Content,Damon Thomas (director); Jenna Lamia (screenpl...,[179]
167,NaN,NaN,SEPTEMBER,30.0,Hot Take: The Depp/Heard Trial,Tubi / MarVista Entertainment,Sara Lohman (director); Guy Nicolucci (screenp...,[203]

In [119]:
import numpy as np
from tmdbv3api import Movie
tmdb_movie = Movie()
import requests
import numpy as np

# Assuming df is your DataFrame with a 'Title' column
# and tmdb is your TMDb API instance
tmdb = TMDb()
tmdb_movie = Movie()



# Define the function to get the primary genre
def get_genres(x):
    try:
        result = tmdb_movie.search(x)

        if not result:
            return np.nan  # Handle the case where no result is found

        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
        data_json = response.json()

        if 'genres' in data_json and isinstance(data_json['genres'], list) and data_json['genres']:
            primary_genre = data_json['genres'][0]['name']  # Take the first genre as the primary genre
            return primary_genre
        
        else:
            return np.nan
    except Exception as e:
        print(f"Error processing {x}: {str(e)}")
        return np.nan

# Convert the 'Title' column to string, handle special characters
df['Title'] = df['Title'].astype(str)

# Add the primary genre directly to the 'genres' column
df['genres'] = df['Title'].apply(lambda x: get_genres(x))

# Display the DataFrame with the updated 'genres' column
print(df)

Error processing Apollo 10 1⁄2: A Space Age Childhood: getattr(): attribute name must be string
Error processing Disney's Pinocchio: getattr(): attribute name must be string
    I'll Find You (film) Music, War and Love / FR Productions / Bovenkon  \
0                    NaN                                             NaN
1                    NaN                                             NaN
2                    NaN                                             NaN
3                    NaN                                             NaN
4                    NaN                                             NaN
..                   ...                                             ...
163                  NaN                                             NaN
164                  NaN                                             NaN
165                  NaN                                             NaN
166                  NaN                                             NaN
167                  NaN                                             NaN

       Opening  Opening.1                                 Title  \
0        APRIL        1.0                               Morbius
1        APRIL        1.0                            The Bubble
2        APRIL        1.0                        The Contractor
3        APRIL        1.0                 Better Nate Than Ever
4        APRIL        1.0  Apollo 10 1⁄2: A Space Age Childhood
..         ...        ...                                   ...
163  SEPTEMBER       30.0                   Luckiest Girl Alive
164  SEPTEMBER       30.0                       God's Creatures
165  SEPTEMBER       30.0                     Dead for a Dollar
166  SEPTEMBER       30.0             My Best Friend's Exorcism
167  SEPTEMBER       30.0        Hot Take: The Depp/Heard Trial

                                    Production company  \
0             Columbia Pictures / Marvel Entertainment
1                         Netflix / Apatow Productions
2    Paramount Pictures / STXfilms / Thunder Road F...
3                       Disney+ / Walt Disney Pictures
4                          Netflix / Netflix Animation
..                                                 ...
163                          Netflix / Made Up Stories
164                    A24 / BBC Film / Screen Ireland
165              Quiver Distribution / Myriad Pictures
166                  Amazon Studios / Endeavor Content
167                      Tubi / MarVista Entertainment

                                         Cast and crew   Ref.   genres
0    Daniel Espinosa (director); Matt Sazama, Burk ...   [65]   Action
1    Judd Apatow (director/screenplay); Pam Brady (...   [66]   Comedy
2    Tarik Saleh (director); J. P. Davis (screenpla...   [67]   Action
3    Tim Federle (director/screenplay); Rueby Wood,...   [68]    Music
4    Richard Linklater (director/screenplay); Glen ...   [69]      NaN
..                                                 ...    ...      ...
163  Mike Barker (director); Jessica Knoll (screenp...  [183]    Drama
164  Saela Davis, Anna Rose Holmer (directors); Sha...  [201]    Drama
165  Walter Hill (director/screenplay); Christoph W...  [202]  Western
166  Damon Thomas (director); Jenna Lamia (screenpl...  [179]   Horror
167  Sara Lohman (director); Guy Nicolucci (screenp...  [203]    Drama

[168 rows x 9 columns]

In [120]:
df['genres'] = df['Title'].map(lambda x: get_genres(str(x)))
df_2022 = df[['Title','Cast and crew','genres']]

Error processing Apollo 10 1⁄2: A Space Age Childhood: getattr(): attribute name must be string
Error processing Disney's Pinocchio: getattr(): attribute name must be string

In [121]:
df_2022

,Title,Cast and crew,genres
0,Morbius,"Daniel Espinosa (director); Matt Sazama, Burk ...",Action
1,The Bubble,Judd Apatow (director/screenplay); Pam Brady (...,Comedy
2,The Contractor,Tarik Saleh (director); J. P. Davis (screenpla...,Action
3,Better Nate Than Ever,"Tim Federle (director/screenplay); Rueby Wood,...",Music
4,Apollo 10 1⁄2: A Space Age Childhood,Richard Linklater (director/screenplay); Glen ...,NaN
...,...,...,...
163,Luckiest Girl Alive,Mike Barker (director); Jessica Knoll (screenp...,Drama
164,God's Creatures,"Saela Davis, Anna Rose Holmer (directors); Sha...",Drama
165,Dead for a Dollar,Walter Hill (director/screenplay); Christoph W...,Western
166,My Best Friend's Exorcism,Damon Thomas (director); Jenna Lamia (screenpl...,Horror
167,Hot Take: The Depp/Heard Trial,Sara Lohman (director); Guy Nicolucci (screenp...,Drama

In [122]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

<ipython-input-122-bde37e357dd2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

In [123]:
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(x))

<ipython-input-123-c107d38851f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(x))

In [124]:
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(x))

<ipython-input-124-da18e330aae0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(x))

In [125]:
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(x))

<ipython-input-125-dff1896922fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(x))

In [133]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})

In [134]:
new_df22 = df_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [135]:

new_df22['actor_2_name'] = new_df22['actor_2_name'].replace(np.nan, 'unknown')
new_df22['actor_3_name'] = new_df22['actor_3_name'].replace(np.nan, 'unknown')

In [136]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [137]:
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']

In [138]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Daniel Espinosa,Jared Leto,Matt Smith,Adria Arjona,Action,morbius,Jared Leto Matt Smith Adria Arjona Daniel Espi...
1,Judd Apatow,Karen Gillan,Iris Apatow,Fred Armisen,Comedy,the bubble,Karen Gillan Iris Apatow Fred Armisen Judd Apa...
2,Tarik Saleh,Chris Pine,Ben Foster,Gillian Jacobs,Action,the contractor,Chris Pine Ben Foster Gillian Jacobs Tarik Sal...
3,Tim Federle,Rueby Wood,Joshua Bassett,Aria Brooks,Music,better nate than ever,Rueby Wood Joshua Bassett Aria Brooks Tim Fede...
4,Richard Linklater,Glen Powell,Zachary Levi,Milo Coy,NaN,apollo 10 1⁄2: a space age childhood,NaN
...,...,...,...,...,...,...,...
163,Mike Barker,Mila Kunis,Finn Wittrock,Scoot McNairy,Drama,luckiest girl alive,Mila Kunis Finn Wittrock Scoot McNairy Mike Ba...
164,"Saela Davis, Anna Rose Holmer",Emily Watson,Paul Mescal,Aisling Franciosi,Drama,god's creatures,Emily Watson Paul Mescal Aisling Franciosi Sae...
165,Walter Hill,Christoph Waltz,Willem Dafoe,Rachel Brosnahan,Western,dead for a dollar,Christoph Waltz Willem Dafoe Rachel Brosnahan ...
166,Damon Thomas,Elsie Fisher,Amiah Miller,Cathy Ang,Horror,my best friend's exorcism,Elsie Fisher Amiah Miller Cathy Ang Damon Thom...
167,Sara Lohman,Mark Hapka,Megan Davis,Mellisa Marty,Drama,hot take: the depp/heard trial,Mark Hapka Megan Davis Mellisa Marty Sara Lohm...

In [139]:
my_df = new_df23.append(new_df22,ignore_index=True)

In [140]:
my_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,NaN,NaN,unknown,unknown,Comedy Adventure Fantasy,barbie,NaN
1,NaN,NaN,unknown,unknown,Animation Family Adventure Fantasy Comedy,the super mario bros. movie,NaN
2,NaN,NaN,unknown,unknown,Animation Action Adventure,spider-man: across the spider-verse,NaN
3,NaN,NaN,unknown,unknown,Science Fiction Adventure Action,guardians of the galaxy vol. 3,NaN
4,NaN,NaN,unknown,unknown,Drama History,oppenheimer,NaN
...,...,...,...,...,...,...,...
404,Mike Barker,Mila Kunis,Finn Wittrock,Scoot McNairy,Drama,luckiest girl alive,Mila Kunis Finn Wittrock Scoot McNairy Mike Ba...
405,"Saela Davis, Anna Rose Holmer",Emily Watson,Paul Mescal,Aisling Franciosi,Drama,god's creatures,Emily Watson Paul Mescal Aisling Franciosi Sae...
406,Walter Hill,Christoph Waltz,Willem Dafoe,Rachel Brosnahan,Western,dead for a dollar,Christoph Waltz Willem Dafoe Rachel Brosnahan ...
407,Damon Thomas,Elsie Fisher,Amiah Miller,Cathy Ang,Horror,my best friend's exorcism,Elsie Fisher Amiah Miller Cathy Ang Damon Thom...
408,Sara Lohman,Mark Hapka,Megan Davis,Mellisa Marty,Drama,hot take: the depp/heard trial,Mark Hapka Megan Davis Mellisa Marty Sara Lohm...

In [142]:
old_df = pd.read_csv('C:/Users/likhith/Desktop/The-Movie-Cinema/datasets/movie.csv')

In [143]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
36336,Ben Rock,Monty Bane,Lucy Butler,David Grammer,Horror,the burkittsville 7,Monty Bane Lucy Butler David Grammer Ben Rock ...
36337,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,Sci-Fi,caged heat 3000,Lisa Boyle Kena Land Zaneta Polard Aaron Osbor...
36338,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,Drama Action Romance,robin hood,Patrick Bergin Uma Thurman David Morrissey Joh...
36339,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,Drama,century of birthing,Angel Aquino Perry Dizon Hazel Orencio Lav Dia...
36340,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,Action Drama Thriller,betrayal,Erika Eleniak Adam Baldwin Julie du Page Mark ...

In [144]:
final_df = old_df.append(my_df,ignore_index=True)

In [145]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
36745,Mike Barker,Mila Kunis,Finn Wittrock,Scoot McNairy,Drama,luckiest girl alive,Mila Kunis Finn Wittrock Scoot McNairy Mike Ba...
36746,"Saela Davis, Anna Rose Holmer",Emily Watson,Paul Mescal,Aisling Franciosi,Drama,god's creatures,Emily Watson Paul Mescal Aisling Franciosi Sae...
36747,Walter Hill,Christoph Waltz,Willem Dafoe,Rachel Brosnahan,Western,dead for a dollar,Christoph Waltz Willem Dafoe Rachel Brosnahan ...
36748,Damon Thomas,Elsie Fisher,Amiah Miller,Cathy Ang,Horror,my best friend's exorcism,Elsie Fisher Amiah Miller Cathy Ang Damon Thom...
36749,Sara Lohman,Mark Hapka,Megan Davis,Mellisa Marty,Drama,hot take: the depp/heard trial,Mark Hapka Megan Davis Mellisa Marty Sara Lohm...

In [146]:
final_df.isna().sum()

director_name    11
actor_1_name     11
actor_2_name      0
actor_3_name      0
genres            2
movie_title       1
comb             13
dtype: int64

In [147]:
final_df = final_df.dropna(how='any')

In [148]:
final_df.to_csv('final_data.csv',index=False)